* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}
/********************************************
**********Header
*********************************************/
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 10px 0px;
  border-bottom: 1px solid #e5e5e5;
}
header .links {
  display: flex;
  justify-content: space-between;
  width: 20%;
}
header .links a {
  text-decoration: none;
  font-weight: bolder;
  color: #000;
}
header .right-nav {
  display: flex;
  justify-content: space-around;
  width: 15%;
}
header .right-nav-mb {
  display: none;
}
/********************************************
**********Media Screen
*********************************************/
@media screen and (max-width: 450px) {
  header {
    justify-content: space-between;
  }
  header .logo {
    padding: 0px 20px;
  }
  header .logo img {
    width: 30%;
  }
  header .right-nav {
    display: none;
  }
  header .links {
    display: none;
  }
  header .right-nav-mb {
    display: flex;
    justify-content: space-around;
    width: 50%;
  }
}
@media screen and (min-width: 450px) and (max-width: 540px) {
  header .right-nav {
    display: none;
  }
  header .logo {
    padding: 0px 30px;
  }
  header .right-nav-mb {
    display: flex;
    justify-content: space-around;
    width: 50%;
  }
  header .links {
    display: none;
  }
  header {
    justify-content: space-between;
  }
}
/********************************************
**********Home
*********************************************/
.home {
  margin: 30px 30px;
}
.home .home-link {
  padding: 0px 50px;
}
/********************************************
**********Media Screen
*********************************************/
@media screen and (max-width: 450px) {
  .home .home-link {
    padding: 0;
  }
}
/********************************************
**********Main
*********************************************/
main {
  display: flex;
  justify-content: flex-start;
  gap: 50px;
}
/********************************************
**********Aside -Main
*********************************************/
main aside {
  margin: 20px 30px 20px 50px;
  width: 15%;
}
.main p {
  font-size: 12px;
}
.main .product-type {
  border: 1px solid #e5e5e5;
  padding: 10px 20px;
  width: 100%;
}
.main .product-type .heading {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}
.main .product-type .t-shirts,
.full-tshirts,
.round-neck,
.sleeve-less {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
  padding: 5px 0px;
}
.main .product-type input {
  width: 20px;
  height: 20px;
}
.main .product-type span {
  color: #e5e5e5;
}
/********************************************
**********Aside -price
*********************************************/
.price {
  margin: 20px 0px;
  border: 1px solid #e5e5e5;
  width: 100%;
  padding: 20px 20px;
  height: 150px;
}
.price .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price .bar {
  margin-top: 50px;
}
.price .bar .price-range {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price .bar .price-range button {
  background-color: #f4f4f4;
  border: 0;
  padding: 5px 10px;
  word-spacing: 2px;
}
input[type="range"] {
  width: 100%;
  margin: 13.8px 0;
}
/********************************************
**********Aside -Collection
*********************************************/
.collection {
  border: 1px solid #e5e5e5;
  width: 100%;
  padding: 20px 20px;
}
.collection .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/********************************************
**********Aside -Size
*********************************************/
.size {
  margin: 20px 0px;
  border: 1px solid #e5e5e5;
  width: 100%;
  padding: 10px 20px;
}
.size .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.size .size-chart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0px;
}
.size .size-chart .xs,
.small,
.medium,
.large,
.xl,
.xxl {
  border: 1px solid #e5e5e5;
  width: 50px;
  padding: 15px 0px;
  text-align: center;
}
/********************************************
**********Aside -Color
*********************************************/
.color {
  border: 1px solid #e5e5e5;
  width: 118%;
}
.color .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
}
.color .color-chart {
  padding: 20px 5px;
}
.color .color-chart input {
  width: 37px;
  height: 40px;
}
/********************************************
**********Media Screen
*********************************************/
@media screen and (max-width: 450px) {
  main aside {
    display: none;
  }
}
@media screen and (min-width: 450px) and (max-width: 850px) {
  main aside {
    width: 25%;
    padding: 20px 30px 20px 20px;
    margin: 0;
  }
}
@media screen and (min-width: 450px) and (max-width: 540px) {
  main aside {
    display: none;
  }
}
/********************************************
**********Products
*********************************************/
main .products {
  width: 75%;
}
.products .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.products .heading p {
  font-size: 20px;
}
.products .heading span {
  color: #e5e5e5;
  font-size: 15px;
}
.products .heading .show-products {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}
.products .heading .sort {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}
.products .heading .filter {
  display: none;
}
.products .product-container {
  margin: 20px 0px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 30px;
}
.products .product-container .item {
  width: 100%;
}
.products .product-container .item .background {
  width: 449px;
  height: 272px;
  background-color: #f4f4f4;
}
.products .product-container .item .background .heart {
  float: right;
  padding: 5px 5px 0px 0px;
}
.products .product-container .item .background .item-image {
  padding: 5px 55px;
  float: right;
}
.products .product-container .item .background .item-image img {
  width: 350px;
  height: 206px;
}
/****************************
******Media Screen
*****************************/
@media screen and (max-width: 450px) {
  main .products {
    width: 100%;
  }
  .products .heading p {
    font-size: 15px;
    padding: 0px 20px;
  }
  .products .product-container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-gap: 30px;
    padding: 0px 20px;
  }
  .products .heading .show-products {
    display: none;
  }
  .products .heading .sort {
    display: none;
  }
  .products .heading .filter {
    display: block;
  }
  .products .product-container .item .background {
    width: 345px;
  }
  .products .product-container .item .background .item-image {
    padding: 0px 5px;
  }
  .products .product-container .item .background .heart img {
    width: 40px;
  }
  .products .product-container .item .item-details {
    font-size: 10px;
  }
}
@media screen and (min-width: 450px) and (max-width: 850px) {
  .products .product-container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    padding: 0px 45px;
  }
  .products .product-container .item .background .item-image {
    padding: 5px 40px;
  }
  .products .heading .sort {
    gap: 5px;
  }
  .products .heading .show-products {
    gap: 5px;
  }
  .products .heading p {
    font-size: 10px;
  }
  .products .heading {
    width: 97%;
    padding: 0px 5px;
  }
}
@media screen and (min-width: 450px) and (max-width: 540px) {
  main .products {
    width: 100%;
  }
  .products .heading .show-products {
    display: none;
  }
  .products .heading .sort {
    display: none;
  }
  .products .heading .filter {
    display: block;
  }
}
@media screen and (max-width: 280px) {
  .products .heading {
    width: 100%;
  }
  .products .product-container .item .background {
    width: 235px;
    height: 130px;
  }
  .products .product-container .item .background .item-image img {
    width: 170px;
    height: 125px;
  }
}
/****************************
******Pages
*****************************/
.pages {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 150px 0px 500px;
}
.pages .page-num {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 0px 0px 200px;
  gap: 30px;
}
.pages .page-num a {
  border: 1px solid #f4f4f4;
  padding: 10px 20px;
  text-decoration: none;
  color: #000;
}
.pages .next a {
  color: #000;
  font-weight: bold;
}
/****************************
******Media Screen
*****************************/
@media screen and (max-width: 450px) {
  .pages {
    margin: 10px 50px 0px 20px;
  }
  .pages .page-num {
    padding: 0;
    gap: 10px;
  }
}
@media screen and (min-width: 450px) and (max-width: 850px) {
  .pages {
    margin: 0;
    width: 90%;
  }
}
@media screen and (min-width: 450px) and (max-width: 540px) {
  .pages .page-num {
    padding: 0px 0px 0px 100px;
  }
}
@media screen and (max-width: 280px) {
  .pages {
    margin: 10px 0px 0px 5px;
    justify-content: start;
    gap: 10px;
  }
  .pages .page-num {
    gap: 2px;
  }
}
/****************************
******Pages
*****************************/
.pages {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 150px 0px 500px;
}
.pages .page-num {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 0px 0px 200px;
  gap: 30px;
}
.pages .page-num a {
  border: 1px solid #f4f4f4;
  padding: 10px 20px;
  text-decoration: none;
  color: #000;
}
.pages .next a {
  color: #000;
  font-weight: bold;
}
/****************************
******Media Screen
*****************************/
@media screen and (max-width: 450px) {
  .pages {
    margin: 10px 50px 0px 20px;
  }
  .pages .page-num {
    padding: 0;
    gap: 10px;
  }
}
@media screen and (min-width: 450px) and (max-width: 850px) {
  .pages {
    margin: 0;
    width: 90%;
  }
}
@media screen and (min-width: 450px) and (max-width: 540px) {
  .pages .page-num {
    padding: 0px 0px 0px 100px;
  }
}
@media screen and (max-width: 280px) {
  .pages {
    margin: 10px 0px 0px 5px;
    justify-content: start;
    gap: 10px;
  }
  .pages .page-num {
    gap: 2px;
  }
}
/****************************
******Newsletter
*****************************/
.newsletter {
  margin: 50px 250px;
  background-color: #81c4ff;
  width: 65%;
  height: 200px;
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
}
.newsletter .subscription p {
  color: #fff;
  font-size: 20px;
}
.newsletter .email {
  display: flex;
  gap: 10px;
  align-items: center;
}
.newsletter .email input {
  padding: 10px 50px;
  border-radius: 25px;
  border: 0;
}
.newsletter .email button {
  padding: 10px 20px;
  background-color: #1a6eff;
  border-radius: 20px;
  color: #fff;
  border: 0;
}
/****************************
******Media Screen
*****************************/
@media screen and (max-width: 500px) {
  .newsletter {
    margin: 50px 0px;
    display: block;
    width: 100%;
    height: 220px;
  }
  .newsletter .email {
    display: block;
    padding: 0px 30px;
  }
  .newsletter .email input {
    width: 70%;
  }
  .newsletter .subscription {
    text-align: center;
    font-size: 12px;
    padding: 20px 0px;
  }
  .newsletter .email button {
    margin: 15px 0px 0px 30%;
  }
}
@media screen and (min-width: 500px) and (max-width: 950px) {
  .newsletter {
    margin: 50px 0px;
    width: 100%;
  }
}
@media screen and (min-width: 500px) and (max-width: 540px) {
  .newsletter {
    margin: 50px 0px;
    display: block;
    width: 100%;
    height: 220px;
  }
  .newsletter .email {
    display: block;
    padding: 0px 30px;
  }
  .newsletter .email input {
    width: 70%;
  }
  .newsletter .subscription {
    text-align: center;
    font-size: 12px;
    padding: 20px 0px;
  }
  .newsletter .email button {
    margin: 15px 0px 0px 30%;
  }
}
@media screen and (max-width: 280px) {
  .newsletter .email input {
    width: 50%;
  }
}
/****************************
******Bottom
*****************************/
.bottom {
  margin: 50px 250px;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.bottom a {
  display: block;
  text-decoration: none;
  font-size: 10px;
  color: #000;
  line-height: 25px;
}
.bottom p {
  font-size: 10px;
  color: #808080;
}
.bottom span {
  font-weight: bolder;
}
.bottom .links {
  margin-top: 30px;
}
.bottom .printaro .social-links {
  margin-top: 30px;
}
.bottom .printaro .social-links img {
  padding: 0px 10px;
  width: 10px;
}
/****************************
******Media Screen
*****************************/
@media screen and (max-width: 500px) {
  .bottom {
    margin: 50px 0px;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    padding: 0px 30px;
    grid-gap: 10px;
  }
  .bottom .printaro .social-links img {
    padding: 0px 10px;
    width: 20px;
  }
  .bottom .links {
    margin-top: 10px;
  }
}

@media screen and (min-width: 500px) and (max-width: 950px) {
  .bottom {
    margin: 50px 20px;
  }
}
@media screen and (max-width: 280px) {
  .bottom {
    grid-gap: 10px;
  }
  .bottom .links {
    margin-top: 5px;
  }
}
/****************************
******Footer
*****************************/
footer {
  text-align: center;
  color: #808080;
  border-top: 1px solid #aeaeae;
}
footer p {
  padding: 20px 0px;
}
/****************************
******Media Screen
*****************************/
footer p {
  font-size: 10px;
}
