/*************************
****Universal
*************************/
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}
.main-image {
  position: relative;
}
.main-image .main-img-xl img {
  width: 100%;
}
.main-image-sm {
  display: none;
}
/*************************
****Header
*************************/
header {
  position: absolute;
  top: 0;
  padding: 10px 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  width: 30%;
  padding: 0px 100px;
}
header .menu {
  width: 30%;
  display: flex;
  justify-content: space-between;
}
header .menu a {
  text-decoration: none;
  color: #fff;
}
header .right-nav {
  width: 20%;
  display: flex;
  justify-content: space-around;
  padding: 0px 200px;
}
header .right-nav-mb {
  display: none;
}
/****************************
******Media screen
*****************************/
@media screen and (max-width: 500px) {
  header .right-nav {
    display: none;
  }
  header .menu {
    display: none;
  }
  header .logo {
    width: 20%;
    padding: 0px 20px;
  }
  header .logo img {
    width: 20%;
  }
  header .right-nav-mb {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
  }
  header .right-nav-mb img {
    width: 10%;
  }
  .main-image .main-img-xl {
    display: none;
  }
  .main-image-sm {
    display: block;
  }
  .main-image-sm img {
    width: 100%;
  }
}
@media screen and (min-width: 500px) and (max-width: 950px) {
  header .logo {
    padding: 0px 20px;
  }
  header .right-nav {
    padding: 0px 75px;
  }
  header .menu {
    width: 50%;
  }
}
/****************************
******Text-over
*****************************/
.text {
  position: absolute;
  top: 20%;
  left: 10%;
}
.text p {
  font-size: 50px;
  font-weight: 500;
  color: #fff;
}
.shop-now {
  margin-top: 30px;
}
.arrow {
  position: absolute;
  top: 55%;
  right: 38%;
}
.front-back-arrows {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  right: 10%;
  bottom: 10%;
}
.text-sm {
  display: none;
}
/****************************
******Media Screen
*****************************/
@media screen and (max-width: 500px) {
  .text-sm {
    display: block;
    position: absolute;
    top: 50%;
    left: 15%;
    color: #fff;
    font-size: 20px;
  }
  .text {
    top: 55%;
    left: 20%;
  }
  .text p {
    display: none;
  }
  .arrow {
    display: none;
  }
  .front-back-arrows {
    bottom: 10%;
    right: 5%;
    justify-content: flex-end;
  }
  .front-back-arrows img {
    width: 20%;
  }
}
@media screen and (min-width: 500px) and (max-width: 950px) {
  .text {
    top: 23%;
  }
  .text p {
    font-size: 20px;
  }
  .text .shop-now {
    margin-top: 10px;
  }
  .front-back-arrows {
    right: 5%;
  }
  .front-back-arrows img {
    width: 40%;
  }
}
/****************************
******White-Background
*****************************/
.main-image .white-background {
  position: absolute;
  bottom: 0%;
  width: 70%;
  height: 150px;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 0px 80px 0px 0px;
}
.white-background .free-shipping {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-basis: 20%;
}
.white-background .free-shipping .shipping-text span {
  font-weight: bolder;
}
.white-background .free-shipping .shipping-text p {
  color: #a8a8a8;
  font-size: 10px;
}
.white-background .customer-satisfaction {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-basis: 25%;
}
.white-background .customer-satisfaction .satisfaction-text span {
  font-weight: bolder;
}
.white-background .customer-satisfaction .satisfaction-text p {
  color: #a8a8a8;
  font-size: 10px;
}
.white-background .originality {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-basis: 25%;
}
.white-background .originality .originality-text span {
  font-weight: bolder;
}
.white-background .originality .originality-text p {
  color: #a8a8a8;
  font-size: 10px;
}
/****************************
******Media Screen
*****************************/
@media screen and (max-width: 500px) {
  .main-image .white-background {
    bottom: 0%;
    height: 80px;
    display: block;
    border-radius: 0px 30px 0px 0px;
  }
  .white-background .free-shipping {
    display: none;
  }
  .white-background .customer-satisfaction {
    display: none;
  }
  .white-background .originality {
    width: 70%;
    justify-content: space-between;
    padding: 10px 20px;
  }
  .white-background .originality .originality-text span {
    font-size: 10px;
  }
}
@media screen and (min-width: 500px) and (max-width: 950px) {
  .main-image .white-background {
    height: 115px;
    border-radius: 0px 50px 0px 0px;
  }
  .white-background .free-shipping {
    flex-basis: 28%;
  }
  .white-background .customer-satisfaction {
    flex-basis: 30%;
  }
  .white-background .originality {
    flex-basis: 30%;
  }
  .white-background span {
    font-size: 10px;
  }
  .white-background p {
    font-size: 8px;
  }
}
/****************************
******Offers
*****************************/
.offers {
  margin: 80px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.offers .dark-orange {
  background-color: #ffc481;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 35%;
}
.offers .dark-orange .offer-text p {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}
.offers .dark-orange .offer-text button {
  padding: 10px 10px;
  border-radius: 20px;
  border: 0;
  background-color: #fff;
  margin-top: 20px;
  font-weight: bolder;
  font-size: 10px;
}
.offers .dark-blue {
  background-color: #81c4ff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 35%;
}
.offers .dark-blue .offer-text p {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}
.offers .dark-blue .offer-text button {
  padding: 10px 20px;
  border-radius: 20px;
  border: 0;
  background-color: #fff;
  margin-top: 20px;
  font-weight: bolder;
  font-size: 10px;
}
/****************************
******Media Screen
*****************************/
@media screen and (max-width: 500px) {
  .offers {
    margin: 0px 20px;
  }
  .offers .dark-orange {
    width: 100%;
    padding: 0px 20px;
    justify-content: space-between;
  }
  .offers .dark-orange img {
    width: 60%;
  }
  .offers .dark-orange .offer-text p {
    font-size: 15px;
  }
  .offers .dark-orange .offer-text button {
    padding: 10px 25px;
  }
  .offers .dark-blue {
    display: none;
  }
}
@media screen and (min-width: 500px) and (max-width: 950px) {
  .offers .dark-orange {
    width: 50%;
  }
  .offers .dark-orange img {
    width: 250px;
  }
  .offers .dark-blue {
    width: 50%;
  }
  .offers .dark-blue img {
    width: 250px;
  }
}
/****************************
******Just For You
*****************************/
.just-for-you {
  margin: 50px 30px;
}
.just-for-you .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 150px;
}
.just-for-you .heading button {
  padding: 10px 25px;
  background-color: #fff;
  border: 1px solid #a8a8a8;
  font-weight: bolder;
  border-radius: 30px;
}
.just-for-you .item-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 0px;
}
.just-for-you .item-container .item-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  overflow: scroll;
}
.just-for-you .item-container .item-flex .item .background {
  width: 300px;
  height: 400px;
  position: relative;
  background-color: #ebebeb;
}
.just-for-you .item-container .item-flex .item .background .item-image img {
  position: absolute;
  left: 5%;
  top: 15%;
  width: 270px;
  height: 270px;
}
.just-for-you .item-container .item-flex .item .item-details {
  padding: 20px 0px;
}
.just-for-you .item-container .item-flex .item .background .discount {
  padding: 20px 20px;
}
.just-for-you .item-container .item-flex .item .item-details .discount-price {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.just-for-you
  .item-container
  .item-flex
  .item
  .item-details
  .discount-price
  span {
  color: #ff0000;
}
.just-for-you .item-container .item-flex .item .item-details .discount-price p {
  color: #cecece;
  padding-left: 10px;
}
::-webkit-scrollbar {
  display: none;
}
/****************************
******Media Screen
*****************************/
@media screen and (max-width: 500px) {
  .just-for-you {
    margin: 0;
  }
  .just-for-you .heading {
    justify-content: space-around;
    padding: 10px 0px;
  }
  .just-for-you .item-container {
    padding: 50px 10px;
  }
  .just-for-you .item-container img {
    width: 15px;
  }
  .just-for-you .item-container .item-flex .item .background {
    width: 170px;
    height: 250px;
  }
  .just-for-you .item-container .item-flex .item .background .item-image img {
    width: 140px;
    height: 170px;
  }
  .just-for-you .item-container .item-flex .item .item-details p {
    font-size: 10px;
  }
  .just-for-you .item-container .item-flex .item .background .discount {
    padding: 10px 10px;
  }
}
@media screen and (min-width: 500px) and (max-width: 950px) {
  .just-for-you .heading {
    padding: 10px 40px;
  }
}
/****************************
******Choose Us
*****************************/
.choose-us {
  margin: 50px 80px;
}
.choose-us .heading {
  text-align: center;
  font-size: 25px;
}
.choose-us .container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  padding: 80px 80px;
}
.choose-us .container .choose-us-text {
  padding: 30px 0px;
}
.choose-us .container .choose-us-text span {
  font-weight: bolder;
  color: #000;
}
.choose-us .container .choose-us-text p {
  color: #808080;
  font-size: 10px;
  padding: 20px 0px;
}
/****************************
******Designs
*****************************/
@media screen and (max-width: 500px) {
  .choose-us {
    margin: 50px 20px;
  }
  .choose-us .container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 80px 0px;
    grid-gap: 30px;
  }
  .choose-us .container .choose-us-text p {
    font-size: 7px;
  }
}
@media screen and (min-width: 500px) and (max-width: 950px) {
  .choose-us {
    margin: 50px 0px;
  }
  .choose-us .container {
    padding: 80px 0px;
  }
}
/****************************
******Designs
*****************************/
.designs {
  margin: 50px 30px;
}
.designs .heading {
  text-align: center;
  font-size: 25px;
}
.designs .design-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 0px;
}
.designs .design-container .design-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  overflow: scroll;
}
.designs .design-container .design-flex .design-background {
  width: 300px;
  height: 400px;
  position: relative;
  background-color: #ebebeb;
}
.designs .design-container .design-flex .design-background .design-image img {
  position: absolute;
  left: 25%;
  top: 15%;
  width: 138px;
  height: 261px;
}
.designs .design-container .design-flex .design .design-details {
  padding: 20px 0px;
}
.designs .design-container .design-flex .design .design-details span {
  font-weight: 400;
}
/****************************
******Media Screen
*****************************/
@media screen and (max-width: 500px) {
  .designs {
    margin: 50px 0px;
  }
  .designs .design-container {
    padding: 50px 10px;
  }
  .designs .design-container img {
    width: 15px;
  }
  .designs .design-container .design-flex .design-background {
    width: 170px;
    height: 250px;
  }
  .designs .design-container .design-flex .design-background .design-image img {
    width: 140px;
    height: 170px;
    left: 8%;
  }
}
/****************************
******Newsletter
*****************************/
.newsletter {
  margin: 50px 250px;
  background-color: #81c4ff;
  width: 65%;
  height: 200px;
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
}
.newsletter .subscription p {
  color: #fff;
  font-size: 20px;
}
.newsletter .email {
  display: flex;
  gap: 10px;
  align-items: center;
}
.newsletter .email input {
  padding: 10px 50px;
  border-radius: 25px;
  border: 0;
}
.newsletter .email button {
  padding: 10px 20px;
  background-color: #1a6eff;
  border-radius: 20px;
  color: #fff;
  border: 0;
}
/****************************
******Media Screen
*****************************/
@media screen and (max-width: 500px) {
  .newsletter {
    margin: 50px 0px;
    display: block;
    width: 100%;
    height: 220px;
  }
  .newsletter .email {
    display: block;
    padding: 0px 30px;
  }
  .newsletter .email input {
    width: 70%;
  }
  .newsletter .subscription {
    text-align: center;
    font-size: 12px;
    padding: 20px 0px;
  }
  .newsletter .email button {
    margin: 15px 0px 0px 30%;
  }
}
@media screen and (min-width: 500px) and (max-width: 950px) {
  .newsletter {
    margin: 50px 0px;
    width: 100%;
  }
}
/****************************
******Bottom
*****************************/
.bottom {
  margin: 50px 250px;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.bottom a {
  display: block;
  text-decoration: none;
  font-size: 10px;
  color: #000;
  line-height: 25px;
}
.bottom p {
  font-size: 10px;
  color: #808080;
}
.bottom span {
  font-weight: bolder;
}
.bottom .links {
  margin-top: 30px;
}
.bottom .printaro .social-links {
  margin-top: 30px;
}
.bottom .printaro .social-links img {
  padding: 0px 10px;
  width: 10px;
}
/****************************
******Media Screen
*****************************/
@media screen and (max-width: 500px) {
  .bottom {
    margin: 50px 0px;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    padding: 0px 30px;
  }
  .bottom .printaro .social-links img {
    padding: 0px 10px;
    width: 20px;
  }
}
@media screen and (min-width: 500px) and (max-width: 950px) {
  .bottom {
    margin: 50px 20px;
  }
}
/****************************
******Footer
*****************************/
footer {
  text-align: center;
  color: #808080;
  border-top: 1px solid #aeaeae;
}
footer p {
  padding: 20px 0px;
}
/****************************
******Media Screen
*****************************/
footer p {
  font-size: 10px;
}
